html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }


.wrapper{
	height: 100%;
	width: 100%;
  position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

 h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

  .root{
    height: 70%;
	  width: 40%;
    display: table;
    border-spacing: 1px;
  }

 .group{
 	width: 40%;
 	height: 20%;
  display: table-row;
  z-index: 1;
 }

 li{
  display: table-cell;
 	width: 50px;
 	height: 50px;
 	background-color: rgba(119, 110, 101, 0.9);
 	border: 1px solid white;
 	list-style-type: none;
 	cursor: pointer;
  z-index: 1;
 }

 .tile {
  z-index: 2;
  color: red;
 }

