html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }


.wrapper{
	height: 100%;
	width: 100%;
  position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

 h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

  .root{
    height: 70%;
	  width: 40%;
    display: table;
    border-spacing: 1px;
  }

 .group{
 	width: 40%;
 	height: 20%;
  display: table-row;
  z-index: 1;
 }

 li{
  display: table-cell;
 	width: 50px;
 	height: 50px;
 	background-color: rgba(119, 110, 101, 0.9);
 	border: 1px solid white;
 	list-style-type: none;
 	cursor: pointer;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
 }

 .tile {
  z-index: 2;
  color: white;
 }  

 [id="1"]{
  background-color: rgb(249,189,154);
 }

 [id="2"]{
  background-color: rgb(255,188,179);
 }

 [id="3"]{
  background-color: rgb(213,194,180);
 }

 [id="4"]{
  background-color: rgb(163,231,239);
 }

 [id="5"]{
  background-color: rgb(123,205,226);
 }

 [id="6"]{
  background-color: rgb(63,208,167);
 }

 [id="7"]{
  background-color: rgb(200,217,1);
 }

 [id="8"]{
  background-color: rgb(246,217,19);
 }

 [id="9"]{
  background-color: rgb(247,165,4);
 }

 [id="10"]{
  background-color: rgb(254,9,86);
 }

 #msg{
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
 }
